.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

body {
	color: #4a4a4a;
    font-weight: 400;
    background-color: #fff;
    font-family: 'Crimson Text', serif;
}

/* GENERAL */
p, .column {
	margin-bottom: 1em;
}